
/* Loading Page */

@keyframes loading-div {
    75% {
        opacity: 1;
    } 100% {
        display: none;
        opacity: 0;
        cursor: auto;
    }
}
@keyframes loading-container {
    0% {
        opacity: 0;
    } 25%, 65% {
        opacity: 1;
    } 100% {
        display: none;
    }
}
@keyframes percentage {
    0% {
        background: conic-gradient(#ff006f 0% 0%, #ffffff60 0% 100%);
    } 7% {
        background: conic-gradient(#ff006f 0% 7%, #ffffff60 7% 100%);
    } 15% {
        background: conic-gradient(#ff006f 0% 15%, #ffffff60 15% 100%);
    } 22% {
        background: conic-gradient(#ff006f 0% 22%, #ffffff60 22% 100%);
    } 30% {
        background: conic-gradient(#ff006f 0% 30%, #ffffff60 30% 100%);
    } 42% {
        background: conic-gradient(#ff006f 0% 42%, #ffffff60 42% 100%);
    } 50% {
        background: conic-gradient(#ff006f 0% 50%, #ffffff60 50% 100%);
    } 58% {
        background: conic-gradient(#ff006f 0% 58%, #ffffff60 58% 100%);
    } 66% {
        background: conic-gradient(#ff006f 0% 66%, #ffffff60 66% 100%);
    } 73% {
        background: conic-gradient(#ff006f 0% 73%, #ffffff60 73% 100%);
    } 81% {
        background: conic-gradient(#ff006f 0% 81%, #ffffff60 81% 100%);
    } 90% {
        background: conic-gradient(#ff006f 0% 90%, #ffffff60 90% 100%);
    } 99% {
        background: conic-gradient(#ff006f 0% 99%, #ffffff60 99% 100%);
    } 100% {
        background: conic-gradient(#ff006f 0% 100%, #ffffff60 100% 100%);
    }
}
@keyframes number {
    0% {
        content: "0";
        background: conic-gradient(#ff006f 0% 0%, #ffffff60 0% 100%);
        
    } 7% {
        content: "7";
        background: conic-gradient(#ff006f 0% 7%, #ffffff60 7% 100%);
        
    } 15% {
        content: "15";
        background: conic-gradient(#ff006f 0% 15%, #ffffff60 15% 100%);
        
    } 22% {
        content: "22";
        background: conic-gradient(#ff006f 0% 22%, #ffffff60 22% 100%);
        
    } 30% {
        content: "30";
        background: conic-gradient(#ff006f 0% 30%, #ffffff60 30% 100%);
        
    } 42% {
        content: "42";
        background: conic-gradient(#ff006f 0% 42%, #ffffff60 42% 100%);
        
    } 50% {
        content: "50";
        background: conic-gradient(#ff006f 0% 50%, #ffffff60 50% 100%);
        
    } 58% {
        content: "58";
        background: conic-gradient(#ff006f 0% 58%, #ffffff60 58% 100%);
        
    } 66% {
        content: "66";
        background: conic-gradient(#ff006f 0% 66%, #ffffff60 66% 100%);
        
    } 73% {
        content: "73";
        background: conic-gradient(#ff006f 0% 73%, #ffffff60 73% 100%);
        
    } 81% {
        content: "81";
        background: conic-gradient(#ff006f 0% 81%, #ffffff60 81% 100%);
        
    } 90% {
        content: "90";
        background: conic-gradient(#ff006f 0% 90%, #ffffff60 90% 100%);
        
    } 99% {
        content: "99";
        background: conic-gradient(#ff006f 0% 99%, #ffffff60 99% 100%);
        
    } 100% {
        content: "100";
        background: conic-gradient(#ff006f 0% 100%, #ffffff60 100% 100%);
        
    }
}

/* HTML Scroll Bar */

@keyframes scrollbar-color {
    0% {
        scrollbar-color: #00252f #00252f;
    } 75% {
        scrollbar-color: #00252f #00252f;
    } 100% {
        scrollbar-color: #00afdf #00252f;
    }
}

/* Main CSS */

@keyframes pulse {
    50% {
        transform: scale(1.15) scaleX(1.15);
    }
}
@keyframes job {
    0% {
        content: " |";
    } 2.5% {
        content: " |";
    } 5% {
        content: "P |";
    } 7.5% {
        content: "Pr |";
    } 10% {
        content: "Pro |";
    } 12.5% {
        content: "Prof |";
    } 15% {
        content: "Profe |";
    } 17.5% {
        content: "Profes |";
    } 20% {
        content: "Profess |";
    } 22.5% {
        content: "Professi |";
    } 25% {
        content: "Professio |";
    } 27.5% {
        content: "Profession |";
    } 30% {
        content: "Professiona |";
    } 32.5% {
        content: "Professional |";
    } 35% {
        content: "Professional  |";
    } 37.5% {
        content: "Professional F |";
    } 40% {
        content: "Professional Fu |";
    } 42.5% {
        content: "Professional Ful |";
    } 45% {
        content: "Professional Full |";
    } 47.5% {
        content: "Professional Full  |";
    } 50% {
        content: "Professional Full S |";
    } 52.5% {
        content: "Professional Full St |";
    } 55% {
        content: "Professional Full Sta |";
    } 57.5% {
        content: "Professional Full Stac |";
    } 60% {
        content: "Professional Full Stack |";
    } 62.5% {
        content: "Professional Full Stack  |";
    } 65% {
        content: "Professional Full Stack W |";
    } 67.5% {
        content: "Professional Full Stack We |";
    } 70% {
        content: "Professional Full Stack Web |";
    } 72.5% {
        content: "Professional Full Stack Web  |";
    } 75% {
        content: "Professional Full Stack Web D |";
    } 77.5% {
        content: "Professional Full Stack Web De |";
    } 80% {
        content: "Professional Full Stack Web Dev |";
    } 82.5% {
        content: "Professional Full Stack Web Deve |";
    } 85% {
        content: "Professional Full Stack Web Devel |";
    } 87.5% {
        content: "Professional Full Stack Web Develo |";
    } 90% {
        content: "Professional Full Stack Web Develop |";
    } 92.5% {
        content: "Professional Full Stack Web Develope |";
    } 95% {
        content: "Professional Full Stack Web Developer |";
    } 97.5% {
        content: "Professional Full Stack Web Developer ||";
    } 100% {
        content: "Professional Full Stack Web Developer ||";
    }
}
@keyframes a-motion {
    0% {
        bottom: 50px;
    } 50% {
        bottom: 35px;
    } 100% {
        bottom: 50px;
    }
}
@keyframes arrow {
    from {
        top: -35px;
    } to {
        top: 80px;
    }
}