
@font-face {
  font-family: 'Nunito';
  src: url("./Font-Family/Nunito-en/Nunito-Bold.woff2") format("woff2");
}
@font-face {
  font-family: 'Exo 2';
  src: url("./Font-Family/Exo_2/Exo_2_Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'Playball';
  src: url("./Font-Family/Playball-en/Playball-en.woff2") format("woff2");
}
@font-face {
  font-family: 'Merienda';
  src: url("./Font-Family/Merienda/Merienda.woff2") format("woff2");
}
@font-face {
  font-family: 'Patrick_Hand';
  src: url("./Font-Family/Patrick_Hand/Patrick_Hand.woff2") format("woff2");
}
@font-face {
  font-family: 'Oswald';
  src: url("./Font-Family/Oswald/Oswald_Regular.woff2") format("woff2");
}
