
@font-face {
  font-family: 'Nunito-Bold', sans-serif;
  src: url("./Font-Family/Nunito-en/Nunito-Bold.woff2");
}
@font-face {
  font-family: 'Exo 2', sans-serif;
  src: url("./Font-Family/Exo_2/Exo_2_Regular.woff2");
}
@font-face {
  font-family: 'Playball', sans-serif;
  src: url("./Font-Family/Playball-en/Playball-en.woff2");
}
@font-face {
  font-family: 'Merienda', sans-serif;
  src: url("./Font-Family/Merienda/Merienda.woff2");
}
@font-face {
  font-family: 'Patrick_Hand', sans-serif;
  src: url("./Font-Family/Patrick_Hand/Patrick_Hand.woff2");
}
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("./Font-Family/Oswald/Oswald_ Regular.woff2");
}
