
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #00252f;
    --text-color: #00c1f6;
    --border-color: #00c1f6;
    --text-drop-shadow: #0095be;
    --Exo-2: 'Exo 2', sans-serif;
}
html {
    background-color: var(--main-color);
    animation: scrollbar-color 3s linear 0s 1 normal forwards;
}
.parent {
    overflow: auto;
}
.right {
    float: right;
}
.left {
    float: left;
}