
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #00252f;
    --main2-color: #ffeed7;
    --text-color: #00c1f6;
    --text2-drop-shadow: #89704f;
    --text3-tan: #fcd6a4;
    --border-color: tan;
    --text-drop-shadow: #b89971;
}
html {
    background-color: var(--main-color);
    animation: scrollbar-color 5s linear 0s 1 normal forwards;
}
.parent {
    overflow: auto;
}
.right {
    float: right;
}
.left {
    float: left;
}
section {
    scroll-margin-top: 85px;
}
section .container > h1 {
    margin-bottom: 35px;
    color: tan;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    filter: drop-shadow(0 0 10px);
    text-align: center;
}