
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color:           #ffeed7;
    --second-color:        #fcd6a4;
    --third-color:           #d2b48c;
    --fourth-color:         #b89971;
    --fifth-color:           #89704f;
    --sixth-color:           #463928;
}
html {
    background-color: var(--main-color);
    animation: scrollbar-color 5s linear 0s 1 normal forwards;
}
.parent {
    overflow: auto;
}
.right {
    float: right;
}
.left {
    float: left;
}
section {
    scroll-margin-top: 85px;
}
section .container > h1 {
    margin-bottom: 35px;
    color: var(--sixth-color);
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    filter: drop-shadow(0 0 10px);
    text-align: center;
}