

.loading {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00252f;
    animation: loading-div 3s linear 0s 1 normal forwards;
    z-index: 999;
    cursor: none;
}
.loading .container {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    color: #00afdf;
    filter: drop-shadow(0 0 15px #2bd1ff);
    animation: loading-container 3s linear 0s 1 normal forwards;
}
.loading .container .name {
    font-size: 75px;
    letter-spacing: 15px;
}
.loading .container .loading-percentage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading .container .loading-percentage img {
    width: 200px;
    border: 3px solid #0080a4;
    border-radius: 50%;
    margin-bottom: 50px;
}
.loading .container .loading-percentage .spinner-border {
    margin: auto;
}
.loading .container .loading-percentage .spinner-border p .number {
    animation: number 1s linear 250ms 1 normal forwards;
}
