

header {
    height: 100vh;
    background: fixed;
    background-image: url("./../attachments/wallpapers/myProfilePicture.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    position: relative;
    box-shadow: 0 0 5px 3px var(--sixth-color);
}
header nav {
    background-color: var(--second-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    z-index: 1;
}
header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header nav .container .image {
    width: 75px;
}
header nav .container .image img {
    width: 100%;
    border: 3px solid var(--fourth-color);
    border-radius: 50%;
    cursor: pointer;
}
header nav .container .ul ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    align-items: center;
    list-style: none;
    gap: 20px;
}header nav .container .ul ul li {
    position: relative;
}
header nav .container .ul ul li a {
    color: var(--fifth-color);
    filter: drop-shadow(0 0 0);
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 500ms;
}
header nav .container .ul ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--fourth-color);
    filter: drop-shadow(0 0 5px var(--main-color));
    transition-duration: 1s;
}
header nav .container .ul ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--fourth-color);
    filter: drop-shadow(0 0 5px var(--main-color));
    transition-duration: 1s;
}
header nav .container .ul ul li a:hover {
    color: var(--sixth-color);
    filter: drop-shadow(0 0 2px);
}
header nav .container .ul ul li a:hover::before,
header nav .container .ul ul li a:hover::after {
    width: 100%;
    background-color: var(--sixth-color);
    transition-duration: 350ms;
}
header nav .container .ul ul li a:active {
    color: var(--fourth-color);
}
header nav .container .ul ul li a:active::before,
header nav .container .ul ul li a:active::after {
    background-color: var(--fourth-color);
}
header nav .container .responsive {
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: 1.5px solid var(--fifth-color);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
header nav .container .responsive span {
    width: 80%;
    height: 2px;
    background-color: var(--fifth-color);
    display: block;
}
header nav .container #responsive {
    opacity: 0;
}
header .container.parent {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #000000dd;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .container.parent .welcome {
    text-align: center;
}
header .container.parent .welcome p {
    margin: 0;
    font-size: 20px;
    color: var(--second-color);
    filter: drop-shadow(0 0 10px tan) drop-shadow(0 0 1px tan);
}
header .container.parent .welcome h1 {
    margin-block: 20px;
    font-family: 'Exo 2', sans-serif;
    font-size: 75px;
    font-weight: bolder;
    color: tan;
    filter: drop-shadow(0 0 10px var(--sixth-color)) drop-shadow(0 0 20px var(--main-color));
    animation: pulse 2s linear 500ms infinite alternate forwards;
}
header .container.parent .welcome .job-name {
    position: relative;
    font-family: 'Playball', sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
    color: var(--second-color);
    filter: drop-shadow(0 0 10px var(--sixth-color)) drop-shadow(0 0 20px var(--main-color));
}
header .container.parent .welcome .job-name::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    animation: job 3s linear 1s infinite alternate forwards;
}
header .container.parent a {
    width: 35px;
    height: 75px;
    position: absolute;
    bottom: 50px;
    border: 3px solid var(--main-color);
    border-radius: 20px;
    filter: drop-shadow(0 0 5px var(--fourth-color)) drop-shadow(0 0 5px var(--main-color));
    overflow: hidden;
    transition-duration: 200ms;
    animation: a-motion 2s linear 500ms infinite normal forwards;
}
header .container.parent a i {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: white;
    filter: drop-shadow(0 0 5px var(--fourth-color)) drop-shadow(0 0 5px var(--main-color));
    border-radius: 50%;
    animation: arrow 2s linear 0s infinite normal forwards;
}
header .container.parent a:active {
    scale: 0.9;
}
header .container.parent a:hover i {
    color: var(--sixth-color);
    transition-duration: 200ms;
}

/* About section */

section.AboutMe {
    padding-bottom: 30px;
    background: linear-gradient(135deg, var(--main-color) 50%, var(--second-color));
}
.AboutMe .container {
    padding: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 30px;
}
.AboutMe .container .picture,
.AboutMe .container .details {
    position: relative;
    width: 50%;
    height: 550px;
}
.AboutMe .container .picture {
    position: relative;
    height: 450px;
}
.AboutMe .container .picture .frame {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 400px;
}
.AboutMe .container .picture .frame::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    border: 5px solid var(--fifth-color);
    border-radius: 15px;
    width: 100%;
    height: 100%;

}
.AboutMe .container .picture .frame .picture {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("./../attachments/wallpapers/myProfilePicture.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid var(--fourth-color);
    border-radius: 10px;
    overflow: hidden;
}
.AboutMe .container .picture .frame .picture .ul {
    position: absolute;
    top: 100%;
    background-color: #00000080;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition-duration: 1s;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 3px var(--fourth-color) inset;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AboutMe .container .picture .frame .picture:hover .ul,
.AboutMe .container .picture .frame .picture:active .ul {
    top: 0;
}
.AboutMe .container .picture .frame .picture .ul ul {
    padding: 0;
    width: 60%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    opacity: 0;
    transition-duration: 0s;
    transition-delay: 0s;
}
.AboutMe .container .picture .frame .picture:hover .ul ul,
.AboutMe .container .picture .frame .picture:active .ul ul {
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 1s;
}
.AboutMe .container .picture .frame .picture .ul ul li {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border: 3px solid var(--fourth-color);
    border-radius: 50%;
    opacity: 0;
    transition-duration: 0s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0s;
}
.AboutMe .container .picture .frame .picture .ul ul li:nth-child(odd) {
    top: -200px;
}
.AboutMe .container .picture .frame .picture .ul ul li:nth-child(even) {
    top: 200px;
}
.AboutMe .container .picture .frame .picture:hover .ul ul li,
.AboutMe .container .picture .frame .picture:active .ul ul li {
    top: 0;
    opacity: 1;
    transition-duration: 1.5s;
    transition-delay: 1s;
    filter: drop-shadow(0 0 3px);
}
.AboutMe .container .picture .frame .picture .ul ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition-duration: 100ms;
}
.AboutMe .container .picture .frame .picture .ul ul li a:hover,
.AboutMe .container .picture .frame .picture .ul ul li a:active {
    transform: scale(115%);
}
.AboutMe .container .picture .frame .picture .ul ul li a i {
    font-size: 30px;
}
.AboutMe .container .picture .frame .picture .ul ul li:nth-child(1) a i {
    color: blue;
    filter: drop-shadow(0 0 1px blue);
}
.AboutMe .container .picture .frame .picture .ul ul li:nth-child(2) a i {
    color: #ff2072;
    filter: drop-shadow(0 0 1px #ff2072);
}
.AboutMe .container .picture .frame .picture .ul ul li:nth-child(3) a i {
    color: #00a100;
    filter: drop-shadow(0 0 1px #00a100);
}
.AboutMe .container .picture .frame .picture .ul ul li:nth-child(4) a i {
    color: black;
    filter: drop-shadow(0 0 1px black);
}
.AboutMe .container .picture .frame .picture .ul ul li:nth-child(5) a i {
    color: #202020;
    filter: drop-shadow(0 0 1px #202020);
}
.AboutMe .container .picture .frame .picture .ul ul li:nth-child(6) a i {
    color: #009cda;
    filter: drop-shadow(0 0 1px #009cda);
}
.AboutMe .container .details {
    display: flex;
    color: var(--fifth-color);
    font-weight: bold;
}
.AboutMe .container .details h1 {
    margin-bottom: 35px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    padding-left: 20px;
    color: var(--sixth-color);
    border-left: 5px solid var(--fifth-color);
}
.AboutMe .container .details div > ul {
    line-height: 20px;
    list-style-type: square;
    font-family: 'Merienda', sans-serif;
    font-size: 16px;
}
.AboutMe .container .details div > ul li p span {
    font-weight: bolder;
    font-size: 20px;
    color: var(--sixth-color);
}
.AboutMe .container .details div > ul li p a {
    padding: 8px;
    background-color: var(--fourth-color);
    color: var(--main-color);
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
    transition-duration: 100ms;
}
.AboutMe .container .details div > ul li p a:hover {
    background-color: var(--third-color);
}
.AboutMe .container .details div > ul li p a:active {
    color: var(--sixth-color);
}
.AboutMe .container .details div > ul ul {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    list-style-type: upper-roman;
}
.AboutMe .container .details div > ul ul li a {
    position: relative;
    font-weight: bolder;
    text-decoration: none;
    color: #ff0073;
    transition-duration: 100ms;
}
.AboutMe .container .details div > ul ul li a::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff0073;
    transition-duration: 100ms;
    opacity: 0;
}
.AboutMe .container .details div > ul ul li a:hover::after {
    bottom: -5px;
    opacity: 1;
}
.AboutMe .container .details div > ul ul li a:active {
    color: var(--sixth-color);
}
.AboutMe .container .details div > ul > div {
    display: flex;
    width: fit-content;
    gap: 0;
}
.AboutMe .container .details div > ul > div a {
    padding: 8px 12px;
    background-color: var(--fourth-color);
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 100ms;
}
.AboutMe .container .details div > ul > div a:hover {
    background-color: var(--third-color);
}
.AboutMe .container .details div > ul > div a:active {
    color: var(--sixth-color);
}

section.Services {
    background: linear-gradient(45deg, var(--main-color), #f4dfc4, var(--main-color));
    padding-block: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Services .container h1 {
    margin-bottom: 35px;
}
.Services .container .layout {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.Services .container .layout .div {
    padding: 25px;
    background: linear-gradient(135deg, transparent, var(--third-color), transparent);
    border: 2px solid color-mix(in srgb, var(--fourth-color) 50%, transparent 50%);
    width: calc(50% - 20px);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--sixth-color) inset;
    transition-duration: 500ms;
}
.Services .container .layout .div:hover {
    background: linear-gradient(135deg, var(--third-color), transparent, var(--third-color));
    box-shadow:  0 0 10px var(--sixth-color) inset,
                        0 3px var(--sixth-color),
                        0 6px var(--fifth-color),
                        0 9px var(--fourth-color),
                        0 12px var(--third-color),
                        0 15px var(--second-color);
    transition-duration: 150ms;
    transform: translateY(-15px);
}
.Services .container .layout .div .icon {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Services .container .layout .div .icon i {
    font-size: 50px;
    color: var(--fifth-color);
    transition-duration: 100ms;
}
.Services .container .layout .div h2 {
    text-align: center;
    color: var(--sixth-color);
    filter: drop-shadow(0 0 5px);
    font-family: 'Patrick_Hand', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    transition-duration: 100ms;
}
.Services .container .layout .div p {
    color: var(--sixth-color);
    padding-left: 50px;
    font-weight: bold;
}
.Services .container .layout .div ul {
    padding-left: 80px;
    color: var(--sixth-color);
    list-style: square;
    font-weight: bold;
}

section.Skills {
    padding-block: 50px;
    background: linear-gradient(45deg, var(--main-color));
    font-family: 'Oswald', sans-serif;
    color: white;
}
.Skills .container {
    text-align: center;
}
.Skills .container .layout {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}
.Skills .container .layout .div {
    position: relative;
    padding: 10px;
    padding-block: 40px;
    width: calc((100% / 3) - 15px);
    background: linear-gradient(45deg, var(--second-color), var(--third-color), var(--second-color));
    border: 1px solid var(--fifth-color);
    border-radius: 15px;
    box-shadow: 0 8px var(--third-color);
    transition-duration: 100ms;
    overflow: hidden;
}
.Skills .container .layout .div:hover {
    background: linear-gradient(135deg, var(--fifth-color), var(--fourth-color), var(--fifth-color));
    box-shadow: 0 8px var(--sixth-color);
}
.Skills .container .layout .div .circle i {
    font-size: 45px;
    margin-bottom: 10px;
    transition-duration: 100ms;
    transition-delay: 750ms;
}
.Skills .container .layout .div:nth-child(1) .circle i {
    color: orange;
}
.Skills .container .layout .div:nth-child(2) .circle i {
    color: #9500ff;
}
.Skills .container .layout .div:nth-child(3) .circle i {
    color: yellow;
}
.Skills .container .layout .div:nth-child(4) .circle i {
    color: #454545;
}
.Skills .container .layout .div:nth-child(5) .circle i {
    color: white;
}
.Skills .container .layout .div:nth-child(6) .circle i {
    color: #be00be;
}
.Skills .container .layout .div p {
    color: var(--sixth-color);
    font-size: 18px;
    letter-spacing: 2px;
    transition-duration: 100ms;
    transition-delay: 750ms;
}
.Skills .container .layout .div:hover .circle i,
.Skills .container .layout .div:hover p {
    filter: drop-shadow(0 0 3px);
    transform: scale(1.25);
    transition-delay: 0s;
}
.Skills .container .layout .div .hidden {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fifth-color);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 350ms;
    transition-delay: 250ms;
}
.Skills .container .layout .div:hover .hidden {
    top: 0;
}
.Skills .container .layout .div .hidden .percentage {
    width: 125px;
    height: 125px;
    filter: drop-shadow(0 0 5px #0fc);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Skills .container .layout .div:nth-child(1) .hidden .percentage {
    background: conic-gradient(#ff006f 0% 100%, #ffffff60 100% 100%);
}
.Skills .container .layout .div:nth-child(2) .hidden .percentage {
    background: conic-gradient(#ff006f 0% 90%, #ffffff60 90% 100%);
}
.Skills .container .layout .div:nth-child(3) .hidden .percentage {
    background: conic-gradient(#ff006f 0% 20%, #ffffff60 20% 100%);
}
.Skills .container .layout .div:nth-child(4) .hidden .percentage {
    background: conic-gradient(#ff006f 0% 0%, #ffffff60 0% 100%);
}
.Skills .container .layout .div:nth-child(5) .hidden .percentage {
    background: conic-gradient(#ff006f 0% 25%, #ffffff60 25% 100%);
}
.Skills .container .layout .div:nth-child(6) .hidden .percentage {
    background: conic-gradient(#ff006f 0% 0%, #ffffff60 0% 100%);
}
.Skills .container .layout .div .hidden .percentage .solid-circle {
width: 80%;
height: 80%;
background-color: var(--fifth-color);
box-shadow: 0 0 5px 2px var(--main-color) inset;
border-radius: 50%;
position: relative;
}
.Skills .container .layout .div .hidden .percentage .solid-circle p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

section.Projects {
    background: linear-gradient(180deg, var(--second-color), var(--main-color));
    color: white;
    padding-block: 35px;
}
.Projects .container .layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
.Projects .container .layout .project {
    padding-block: 25px;
    width: 100%;
    background-color: var(--third-color);
    border: 5px double var(--sixth-color);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.Projects .container .layout .project .details {
    width: 400px;
}
.Projects .container .layout .project .image {
    min-width: 600px;
}
.Projects .container .layout .project .details h4 {
    color: var(--sixth-color);
    letter-spacing: 2px;
    filter: drop-shadow(0 0 3px);
    text-align: center;
    font-family: 'Merienda', sans-serif;
    font-size: 35px;
    font-weight: bolder;
}
.Projects .container .layout .project .details p {
    font-family: 'Patrick_Hand', sans-serif;
    text-align: center;
}
.Projects .container .layout .project .details a {
    margin: auto;
    padding: 8px 15px;
    width: 75%;
    display: block;
    background: linear-gradient(45deg, var(--sixth-color), transparent, var(--sixth-color));
    color: var(--sixth-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    transition-duration: 200ms;
}
.Projects .container .layout .project .details a:hover {
    background: linear-gradient(135deg, transparent, var(--sixth-color), transparent);
    color: var(--main-color);
}
.Projects .container .layout .project .details a:active {
    scale: 0.9;
}
.Projects .container .layout .project .image {
    position: relative;
    width: 50%;
    height: 280px;
    border: 2px solid var(--fourth-color);
    border-radius: 20px;
    overflow: hidden;
}
.Projects .container .layout .project .image img {
    width: 100%;
    height: 100%;
    transition-duration: 200ms;
}
.Projects .container .layout .project .image:hover img {
    transform: scale(105%);
    filter: brightness(25%);
}
.Projects .container .layout .project .image a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 50px;
    background-color: var(--main-color);
    color: var(--fifth-color);
    border: 5px dotted var(--fifth-color);
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 350ms;
    transition-delay: 0s;
    opacity: 0;
}
.Projects .container .layout .project .image:hover a {
    transition-delay: 100ms;
    opacity: 1;
}



section.ContactMe {
    background: var(--sixth-color);
    border-bottom: 5px solid var(--main-color);
}
.ContactMe .container {
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
}
.ContactMe .container h1 {
    color: var(--main-color);
    margin-bottom: 15px;
}
.ContactMe .container .layout {
    margin: auto;
    padding: 5px;
    width: 90%;
    background-color: var(--second-color);
    border-radius: 10px;
    display: flex;
    gap: 5px;
}
.ContactMe .container .layout .contact-info,
    .ContactMe .container .layout .form {
    padding: 15px;
    background-color: var(--sixth-color);
    color: var(--second-color);
    box-shadow: 0 0 5px 5px var(--second-color) inset;
    width: calc(50% - 2.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ContactMe .container .layout .contact-info {
    border-radius: 8px 0 0 8px;
    padding-left: 35px !important;
}
.ContactMe .container .layout .contact-info > div p {
    margin-bottom: 20px;
    font-family: 'Patrick_Hand', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: var(--main-color);
    filter: drop-shadow(0 0 1px);
    letter-spacing: 2px;
}
.ContactMe .container .layout .contact-info > div .ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 25px;
}
.ContactMe .container .layout .contact-info > div .ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContactMe .container .layout .contact-info .div1 .ul li.fixed-width {
    width: 165px;
}
.ContactMe .container .layout .contact-info > div .ul li a {
    color: var(--second-color);
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
}
.ContactMe .container .layout .contact-info > div .ul li:hover a {
    color: white;
}
.ContactMe .container .layout .contact-info > div .ul li a i {
    margin-right: 5px;
    font-size: 24px;
}
.ContactMe .container .layout .form {
    border-radius: 0 8px 8px 0;
}

.ContactMe .container .layout .form form {
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.ContactMe .container .layout .form form label {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--main-color);
    filter: drop-shadow(0 0 1px);
}
.ContactMe .container .layout .form form input,
.ContactMe .container .layout .form form textarea {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    height: 30px;
    background: linear-gradient(45deg, var(--third-color), var(--main-color), var(--third-color));
    color: white;
    border: 2px solid var(--fourth-color);
    border-radius: 10px;
    transition-duration: 200ms;
    outline-color: var(--third-color);
}
.ContactMe .container .layout .form form textarea {
    height: 82px;
    resize: none;
}
.ContactMe .container .layout .form form input:focus,
.ContactMe .container .layout .form form textarea:focus {
    background: black;
    outline: none;
    box-shadow: 0 0 0 6px #d2b48c80;
}
.ContactMe .container .layout .form form button {
    margin: auto;
    margin-top: 10px;
    padding: 8px 10px;
    width: 150px;
    background: linear-gradient(45deg, transparent, var(--second-color), transparent);
    color: var(--sixth-color);
    border: 1px solid var(--second-color);
    border-radius: 10px;
    font-weight: bolder;
    transition-duration: 200ms;
}
.ContactMe .container .layout .form form button:hover {
    background: linear-gradient(135deg, var(--second-color), transparent, var(--second-color));
    color: var(--second-color);
}
.ContactMe .container .layout .form form button:active {
    transform: scale(90%);
}

footer {
    height: 150px;
    background-color: color-mix(in srgb, var(--second-color) 100%, black 0%);
}
footer .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
footer .container .div1,
footer .container .div2 {
    height: 100%;
}
footer .container .div1 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
footer .container .div1 .image {
    width: 75px;
}
footer .container .div1 .image img {
    width: 100%;
    border: 3px solid var(--fifth-color);
    border-radius: 50%;
}
footer .container .div1 hr {
    width: 5px;
    height: 100%;
    background: linear-gradient(var(--sixth-color) 50%, transparent);
}
footer .container .div1 .ul ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}
footer .container .div1 .ul ul li a {
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: var(--fifth-color);
    filter: drop-shadow(0 0 5px);
    transition-duration: 100ms;
}
footer .container .div1 .ul ul li a:hover {
    color: var(--sixth-color);
}
footer .container .div1 .ul p {
    font-family: 'Exo 2', sans-serif;
    color: var(--sixth-color);
    font-size: 25px;
    font-weight: bolder;
    filter: drop-shadow(0 0 5px var(--sixth-color));
}
footer .container .div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .container .div2 ul {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}
footer .container .div2 ul li a i {
    width: fit-content;
    font-size: 35px;
    color: var(--sixth-color);
    transition-duration: 100ms;
    filter: drop-shadow(0 0 2px);
}
footer .container .div2 ul li a i:hover {
    color: var(--fifth-color);
}
footer .container .div2 > a {
    font-family: 'Exo 2', sans-serif;
    color: var(--text3-tan);
    filter: drop-shadow(0 0 2px);
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}
footer .container .div2 > a:hover {
    color: var(--fifth-color);
}
